body{
	background-color: #C99DA3;
}
.center{
    display: block;
    margin-Left: auto;
    margin-right: auto;
    width: 50%;
 }
 	
 	input:focus{
 		outline: 4px solid pink
 	}
 table{
 	border-collapse: collapse;
 	width: 100%
 	margin-bottom: 20px;
}
	th, td{
		text-aling:left;
		padding: 8px; 
	}
	th{
		background-color: black;
		color: white;
	}
	tr:nth-child(even){
			background-color: blue; 
		}
		img{
			width: 100px;
			height: 100px;
		}
	
